@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 1rem 7rem;
    z-index: 10;
}

.logo{
    color: #359381;
    cursor:text;
    pointer-events: none;
    margin-right: 150px;
}

nav a{
    text-decoration: none;
    
    color: #359381;
    padding: 7px 15px;
    font-weight: 700;
    border-radius: 20px;
    margin: 0px 5px;
}

nav a:hover, .home {
    background-color: #359381;
    color: #fff;
    transition: all;
    transition-duration: 300ms;
}

.Parallax{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    position: absolute;
    color: #fff;
    font-size: 5em;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);

}

.Parallax img{
    position: absolute;
    top:0;
    left: 0;
    /* width: 100%; */
    pointer-events: none;
}

.para{
    position: relative;
    padding: 100px;
    background-color: #003329;
    
}

.para-heading{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
}

.para p{
    color: #fff;
    font-size: 1em;
    font-weight: 300;
}